@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
  margin: 0;
  font-family: Berkshire Swash, cursive;
}

.header {
  width: 100%;
  height: 200px;
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
  color: white;
}

.trybewarts-login {
  width: 40%;
  height: 30px;
  display: flex;
  align-items: center;
}

.trybewarts-header-logo {
  max-width: 150px;
  margin: 10px;
}

#trybewarts-header-title {
  font-size: 70px;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#login-email {
  font-size: 20px;
  margin: auto 5px auto 30px;
}

#login-password {
  font-size: 20px;
  margin: auto 5px;
}

#login-button {
  font-size: 20px;
  margin: auto 5px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 10px;
}

#login-button:hover {
  border: 1px solid rgb(50, 167, 145);
  background-color: white;
  color: rgb(50, 167, 145);
  cursor: pointer;
}

#evaluation-form {
  display: flex;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
  width: 500px;
  margin-top: 100px;
  margin-left: 900px;
  /* align-items: flex-end; nada funciona pra colocar a direita*/
}

.name-container {
  border: 2px solid red;
  
}

#evaluation-form {
  border: 2px solid green;
  padding: 0;
  margin: 0;
  display: flex;
  height: 400px;
}