@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
  margin: 0;
  font-family: Berkshire Swash, cursive;
}

.header {
  width: 100%;
  height: 200px;
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
  color: white;
}

.trybewarts-login {
  width: 40%;
  height: 30px;
  display: flex;
  align-items: center;
}

.trybewarts-header-logo {
  max-width: 150px;
  margin: 10px;
}

#trybewarts-header-title {
  font-size: 70px;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}
